body{
    background-size:cover ;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
background-color: blueviolet;
color: aqua;
}

#status
{
font-size: 18px;
}


canvas{
    box-shadow: 10px 10px 10px rgb(246, 251, 146);
    border-radius: 10px;
}
